h1, h2, h3, h4, h5, h6{
    color: black;
    text-align:center;
    outline:rgb(140, 2, 2);
}
a.hover{
    margin: 0;
    text-emphasis-color: blue;
    outline-color: chartreuse;
    text-decoration: overline;
}
a{
    color:red;
    transition: 0.5s;
    box-shadow: 3 3 35px var(--clr);
}

textarea{
    color: rgb(7, 7, 36);
    width: 500px;
    height: 100px;
}
marquee{
    color: purple;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
}
embed{
    background-color: black;
    width: 180px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
aside{
    color:red;
}
body{
    font-size: 15px;
    font-style: normal;
    background-color: white;
}
table{
    color:black;
    font-size: 15px;
    border:10ch;
    width: 1300px;
    height: 200px;
    border-color: black;
}
a.active{
    background-color: goldenrod;
    color:black
}
footer{
    color:black;
    text-align: center;
}